{% extends 'layouts/main.html' %}
{% block title %}Registers{% endblock %}
{% block content %}

<div class="page-header">
  <h1><span class="glyphicon glyphicon-film"></span> Control</h1>
</div>

<!--parameters-->

<form align="right" class="form-horizontal" method="POST" >
  <div align="right" class="form-group">
    <div class="col-xs-6">
      {{ form.camera_id.label }}
    </div>
    <div class="col-xs-6">
      {{ form.camera_id(class_="form-control")}}
    </div>
  </div>


  <!--control buttons-->

  <div style="vertical-align:middle;text-align:center;">
  <button type="button" name="command" class="btn btn-default btn-xlarge glyphicon glyphicon-th" value="all_cameras" onClick="command_click(this)">
  </button>
  <button type="button" name="command" class="btn btn-default btn-xlarge glyphicon glyphicon-arrow-right" value="next_camera" onClick="command_click(this)">
  </button>
  </div>​

 <div style="vertical-align:middle;text-align:center;">
  <button type="button" name="command" class="btn btn-default btn-xlarge glyphicon glyphicon-record" value="record_toggle"  onClick="command_click(this)">
    </button>
 <button type="button" name="command" class="btn btn-default btn-xlarge glyphicon glyphicon-stop" value="record_toggle"  onClick="command_click(this)">
    </button>
  <button type="button" name="command" class="btn btn-default btn-xlarge glyphicon glyphicon-certificate" value="flash_and_beep" onClick="command_click(this)">
    </button>

  </div>​
 <div style="vertical-align:middle;text-align:center;">
  <button type="button" name="command" class="btn btn-default btn-xlarge glyphicon glyphicon-off" value="all_off"  onClick="command_click(this)">
    </button>
  </div>​

</form>

{% endblock %}