{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Welcome to RigMan</h1>
</div>

<form align="right" class="form-horizontal" method="POST" >
    <div style="vertical-align:middle;text-align:center;">
    <button type="submit" name="submit" class="btn btn-default btn-xlarge glyphicon glyphicon-move" value="remote"></button>
    </div>​
    <div style="vertical-align:middle;text-align:center;">
    <button type="submit" name="submit" class="btn btn-default btn-xlarge glyphicon glyphicon-cog" value="registers"></button>
    </div>​
    <div style="vertical-align:middle;text-align:center;">
    <button type="submit" name="submit" class="btn btn-default btn-xlarge glyphicon glyphicon-film" value="control"></button>
    </div>​
</form>
{% endblock %}
