{% extends 'layouts/main.html' %}
{% block title %}Registers{% endblock %}
{% block content %}

<div class="page-header">
  <h1><span class="glyphicon glyphicon-cog"></span> Registers</h1>
</div>

<!--forms-->

<form align="right" class="form-horizontal" method="POST" >
    <div>{{ form.name }}</div>
    {% for formfield in form %}
        <div align="right" class="form-group">
            <div>{{ formfield.label (class_="form-control")}}</div>
            {% for field in formfield if field.label != 'Csrf Token'%}
                <div class="col-xs-4">
                    {% if field.type not in ['CommandButtonField'] %}
                        {% if field.name != 'csrf_token' %}
                            {{ field.label }}
                        {% endif %}
                    {% endif %}
                    </div>
                    <!--{% print field.type %}-->
                    <!--{% print field.type == 'FormField' %}-->
                    {% if field.type in ['FormField'] %}
                        <!--{% print field.form_class.__name__ %}-->
                        {% if field.form_class.__name__ in ['CameraCommandButtonForm'] %}
                            <div class="col-xs-8">
                           {% for button in field %}
                                {{ button }}
                            {% endfor %}
                                </div>
                        {% endif %}
                    {% elif field.type in ['ToggleField'] %}
                        <div class="col-xs-8">{{ field }}</div>

                    {% elif field.type in ['IntegerRangeWithNumberField'] %}
                        {{ field }}
                    {% elif field.type in ['IntegerRangeField'] %}
                        {{ field }}
                   {% elif field.type in ['FormField'] %}
                        <div class="col-xs-8">
                        {% print 'hello' %}
                        {% print field[0] %}
                        {% for button in field %}

                            {{ button.name }}
                        {% endfor %}
                            </div>
                    {% else %}
                        <div class="col-xs-8">{{ field (class_="form-control")}}</div>
                    {% endif %}
                    <br></br>

                    <!--(class_="form-control") }}-->
            {% endfor %}
        </div>
    {% endfor %}
</form>





{% endblock %}
