{% extends 'layouts/main.html' %}
{% block title %}Registers{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Registers</h1>
</div>

<!--parameters-->

<form align="right" class="form-horizontal" method="POST" >
    {% for field in form if field.label != 'Csrf Token'%}
        <div align="right" class="form-group">
            <div class="col-xs-6">
                {% if field.name != 'csrf_token' %}
                    {{ field.label }}
                {% endif %}
            </div>
                {% if field.type in ['IntegerRangeField'] %}
                    <div class="col-xs-6">
                        <input
                                for="{{ field.id }}" id="selected-{{ field.id }}",  oninput="UpdateRangeSlider(value, id)">
                        </input>
                        {{ field (oninput="UpdateRangeText(value, id)")}}

                    </div>

                {% elif field.type in ['FormField'] %}
                    <div class="col-xs-4" >{{ field.slider }}</div>
                    <div class="col-xs-1" >{{ field.number }}</div>

                {% elif field.type in ['ToggleField'] %}
                    <div class="col-xs-6">{{ field }}</div>

                {% elif field.type in ['IntegerRangeWithNumberField'] %}
                    {{ field }}
                {% else %}
                    <div class="col-xs-6">{{ field (class_="form-control")}}</div>
                {% endif %}

                <!--(class_="form-control") }}-->
        </div>
    {% endfor %}
</form>


    <!--control buttons-->

    <!--<div style="vertical-align:middle;text-align:center;">-->
    <!--<button type="button" name="command" class="btn btn-default btn-xlarge glyphicon glyphicon-arrow-up" value="up" onClick="command_click(this)">-->
    <!--</button>-->
    <!--</div>​-->
    <!--<div style="vertical-align:middle;text-align:center;">-->
    <!--<button type="button" name="command" class="btn btn-default btn-xlarge glyphicon glyphicon-arrow-left" value="left" onClick="command_click(this)">-->
    <!--</button>-->
    <!--<button type="button" name="command" class="btn btn-default btn-xlarge glyphicon glyphicon-ok-sign" value="enter" onClick="command_click(this)">-->
    <!--</button>-->
    <!--<button type="button" name="command" class="btn btn-default btn-xlarge glyphicon glyphicon-arrow-right" value="right" onClick="command_click(this)">-->
    <!--</button>-->
    <!--</div>​-->
    <!--<div style="vertical-align:middle;text-align:center;">-->
    <!--<button type="button" name="command" class="btn btn-default btn-xlarge glyphicon glyphicon-arrow-down" value="down" onClick="command_click(this)">-->
    <!--</button>-->
    <!--</div>​-->


{% endblock %}
