{% extends 'layouts/main.html' %}
{% block title %}Registers{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Registers</h1>
</div>

<!--control buttons-->

<div style="vertical-align:middle;text-align:center;">
<button type="button" name="command" class="btn btn-default btn-xlarge glyphicon glyphicon-floppy-save" value="up" onClick="command_click(this)">
</button>
</div>​


<!--forms-->

<form align="right" class="form-horizontal" method="POST" >
    <div>{{ form.name }}</div>
    {% for formfield in form %}
        <div align="right" class="form-group">
            <div>{{ formfield.label (class_="form-control")}}</div>
            {% for field in formfield if field.label != 'Csrf Token'%}
                <div class="col-xs-6">
                    {% if field.name != 'csrf_token' %}
                        {{ field.label }}
                    {% endif %}
                </div>
                    {% if field.type in ['FormField'] %}
                        <div class="col-xs-4" >{{ field.slider }}</div>
                        <div class="col-xs-1" >{{ field.number }}</div>

                    {% elif field.type in ['ToggleField'] %}
                        <div class="col-xs-6">{{ field }}</div>

                    {% elif field.type in ['IntegerRangeWithNumberField'] %}
                        {{ field }}
                    {% elif field.type in ['IntegerRangeField'] %}
                        {{ field }}
                   {% elif field.type in ['IntegerRangeField'] %}
                        {{ field }}
                    {% else %}
                        <div class="col-xs-6">{{ field (class_="form-control")}}</div>
                    {% endif %}
                    <br></br>

                    <!--(class_="form-control") }}-->
            {% endfor %}
        </div>
    {% endfor %}
</form>





{% endblock %}
